In [2]:
import pandas as pd
import sys
sys.path.append('../py')
import db
import weighted
import inspect
import matplotlib.pyplot as plt
plt.rcParams['font.sans-serif']=['SimHei'] #用来正常显示中文标签
plt.rcParams['axes.unicode_minus']=False #用来正常显示负号
%matplotlib inline
from mpl_toolkits.basemap import Basemap
import seaborn as sns
import scipy.stats as stats
import numpy as np
import math

In [3]:
cities = "('北京','上海','深圳','杭州','广州','南京','成都','东莞','西安','武汉','天津','长沙','宁波','福州','大连','重庆','青岛','济南','合肥','长春','昆明','郑州','沈阳','哈尔滨')"

In [57]:
conn=db.get_conn()
data_4=pd.read_sql(sql=f"select sum(monthly_salary * headcount)/sum(headcount) as April,max(city) as city from _201904 where monthly_salary>0 and monthly_salary<80000 and career='算法工程师' group by city,career", con=conn)
data_5=pd.read_sql(sql=f"select sum(monthly_salary * headcount)/sum(headcount) as May,max(city) as city from _201905 where monthly_salary>0 and monthly_salary<80000 and city in {cities} and career='算法工程师' group by city,career", con=conn)
data_6=pd.read_sql(sql=f"select sum(monthly_salary * headcount)/sum(headcount) as June,max(city) as city from _201906 where monthly_salary>0 and monthly_salary<80000 and city in {cities} and career='算法工程师' group by city,career", con=conn)
data_7=pd.read_sql(sql=f"select sum(monthly_salary * headcount)/sum(headcount) as July,max(city) as city from _201907 where monthly_salary>0 and monthly_salary<80000 and city in {cities} and career='算法工程师' group by city,career", con=conn)
data_8=pd.read_sql(sql=f"select sum(monthly_salary * headcount)/sum(headcount) as August,max(city) as city from _201908 where monthly_salary>0 and monthly_salary<80000 and city in {cities} and career='算法工程师' group by city,career", con=conn)
conn.close()

In [58]:
translate_dict={}
translate_dict['beijing']='北京'
translate_dict['shanghai']='上海'
translate_dict['shenzhen']='深圳'
translate_dict['hangzhou']='杭州'
translate_dict['guangzhou']='广州'
translate_dict['nanjing']='南京'
translate_dict['chengdu']='成都'
translate_dict['dongguan']='东莞'
translate_dict['xian']='西安'
translate_dict['wuhan']='武汉'
translate_dict['tianjin']='天津'
translate_dict['changsha']='长沙'
translate_dict['ningbo']='宁波'
translate_dict['fuzhou']='福州'
translate_dict['dalian']='大连'
translate_dict['chongqing']='重庆'
translate_dict['qingdao']='青岛'
translate_dict['jinan']='济南'
translate_dict['hefei']='合肥'
translate_dict['changchun']='长春'
translate_dict['kunming']='昆明'
translate_dict['zhengzhou']='郑州'
translate_dict['shenyang']='沈阳'
translate_dict['harbin']='哈尔滨'

In [59]:
data_4.city=data_4.city.map(translate_dict)

In [60]:
data_4=data_4.set_index('city')
data_5=data_5.set_index('city')
data_6=data_6.set_index('city')
data_7=data_7.set_index('city')
data_8=data_8.set_index('city')

In [63]:
new_data=data_4.join(data_5).join(data_6).join(data_7).join(data_8)

In [68]:
new_data['change']=new_data.August-new_data.April

In [69]:
new_data.sort_values(by='August', ascending=False)

      April    May   June   July  August  change
city
北京    26304  26438  24570  25514   26104    -200
上海    23039  22571  23056  23540   23213     174
深圳    21701  22034  22376  22292   21826     125
杭州    19010  19317  19358  19700   19786     776
广州    18103  18776  19197  19105   18934     831
南京    17964  18864  18640  18953   18205     241
宁波    15526  14596  17192  17498   16559    1033
成都    16411  16137  16437  15765   15410   -1001
合肥    13209  13429  14144  14910   15203    1994
武汉    15393  15359  15373  15259   14988    -405
长沙    14240  13575  13810  14076   14743     503
西安    14885  14528  14063  14362   14053    -832
东莞    14441  13188  14058  14458   13944    -497
济南    12633  12579  12417  12965   13569     936
大连    13533  11048  10976  12598   13305    -228
天津    14130  13985  13583  12485   12849   -1281
福州    13041  12059  12559  13047   12724    -317
重庆    14490  12687  12246  12232   12560   -1930
郑州     8367   8372   9753  11874   11174    2807
昆明     9490  10186   9831   8647    9903     413
青岛    11034  10614  10495   9604    9832   -1202
长春    14591  12254  10876  10981    9581   -5010
沈阳    10217  10175  10688   9684    9355    -862
哈尔滨    9044   8570   8661   8767    8369    -675

In [71]:
new_data.sort_values(by='change', ascending=False)

      April    May   June   July  August  change
city
郑州     8367   8372   9753  11874   11174    2807
合肥    13209  13429  14144  14910   15203    1994
宁波    15526  14596  17192  17498   16559    1033
济南    12633  12579  12417  12965   13569     936
广州    18103  18776  19197  19105   18934     831
杭州    19010  19317  19358  19700   19786     776
长沙    14240  13575  13810  14076   14743     503
昆明     9490  10186   9831   8647    9903     413
南京    17964  18864  18640  18953   18205     241
上海    23039  22571  23056  23540   23213     174
深圳    21701  22034  22376  22292   21826     125
北京    26304  26438  24570  25514   26104    -200
大连    13533  11048  10976  12598   13305    -228
福州    13041  12059  12559  13047   12724    -317
武汉    15393  15359  15373  15259   14988    -405
东莞    14441  13188  14058  14458   13944    -497
哈尔滨    9044   8570   8661   8767    8369    -675
西安    14885  14528  14063  14362   14053    -832
沈阳    10217  10175  10688   9684    9355    -862
成都    16411  16137  16437  15765   15410   -1001
青岛    11034  10614  10495   9604    9832   -1202
天津    14130  13985  13583  12485   12849   -1281
重庆    14490  12687  12246  12232   12560   -1930
长春    14591  12254  10876  10981    9581   -5010